# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Environment variables
.env

# Database
*.db
*.sqlite3

# Session files
*.session
*.session-journal

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Logs
logs/
*.log

# Local development
.DS_Store
Thumbs.db

# Local development server
serve_web.py
